.Header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    background-color: aqua;
}
.Header-body .logo
{
    height: 50px;
    object-fit: contain;
}
.Header-body .icons{
    padding: 1rem 20px;
    height: 50px;
    transform: scale(1.4);
}